In [ ]:
%pip install pan

In [2]:
import pandas as pd

In [4]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [5]:
iris = pd.read_csv(url)

In [7]:
iris.sample(5)

     5.1  3.5  1.4  0.2      Iris-setosa
129  7.4  2.8  6.1  1.9   Iris-virginica
44   4.8  3.0  1.4  0.3      Iris-setosa
92   5.0  2.3  3.3  1.0  Iris-versicolor
57   6.6  2.9  4.6  1.3  Iris-versicolor
27   5.2  3.4  1.4  0.2      Iris-setosa

In [12]:
iris.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [15]:
iris.isnull().sum(axis=0)

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [17]:
columns = ['Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species']

In [19]:
df = pd.read_csv(url, names=columns)

In [20]:
df.sample(5)

     Sepal length  Sepal width  Petal length  Petal width          Species
117           7.7          3.8           6.7          2.2   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
68            6.2          2.2           4.5          1.5  Iris-versicolor
61            5.9          3.0           4.2          1.5  Iris-versicolor
122           7.7          2.8           6.7          2.0   Iris-virginica

In [23]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [22]:
df.groupby(['Species']).size()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [24]:
df.describe()

       Sepal length  Sepal width  Petal length  Petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [27]:
df.head()

   Sepal length  Sepal width  Petal length  Petal width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [26]:
X = df.drop(columns=['Species'])

In [29]:
y = df.drop(columns=['Sepal length','Sepal width','Petal length','Petal width'])

In [32]:
from sklearn.model_selection import cross_val_score
 
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
 
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [34]:
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('KNN', KNeighborsClassifier()))
models.append(('SVC', SVC()))
models.append(('NB', GaussianNB()))
models.append(('RF', RandomForestClassifier()))
models.append(('DT', DecisionTreeClassifier()))
models.append(('LD', LinearDiscriminantAnalysis()))

In [39]:
for name, model in models:
    accuracy = cross_val_score(model, X, y.values.ravel(), scoring= 'accuracy')
    print('Acurácia de %s é de %.2f por cento' %(name, accuracy.mean()*100))

Acurácia de LR é de 96.00 por cento
Acurácia de KNN é de 97.33 por cento
Acurácia de SVC é de 96.67 por cento
Acurácia de NB é de 95.33 por cento
Acurácia de RF é de 96.67 por cento
Acurácia de DT é de 96.00 por cento
Acurácia de LD é de 98.00 por cento